<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <% if (user) { %>
                <li class=""><a href="/chat">Chat</a></li>
                <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                    <li><a href="" onclick="$('<form method=POST action=/logout>').submit(); return false;">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>