<% layout('./layout/page') -%>
<% block('title', "Chat") -%>

<script src="/socket.io/socket.io.js"></script>

<p>Welcome, <%=user.get('username')%></p>

<div id="room">
    <ul></ul>
    <form>
        <input class="form-control" type="text" autocomplete="off" autofocus placeholder="Message"/>
    </form>
</div>

<script>
    var socket = io.connect('',{
        reconnect: false
    });

    var form = $('#room form'),
            ul = $('#room ul'),
            input = $('#room input');

    socket
        .on('message', function (username, text) {
            printMessage(username + ': ' + text);
        })
        .on('leave', function (username) {
            printStatus(username + ' has left');
        })
        .on('join', function (username) {
            printStatus(username + ' has joined')
        })
        .on('connect', function () {
            printStatus('connection is established');
            form.on('submit', sendMessage);
            input.prop('disabled', false);
        })
        .on('disconnect', function () {
            printStatus('connection has lost');
            form.off('submit', sendMessage);
            input.prop('disabled', true);
            setTimeout(reconnect, 500);
        })
        .on('logout', function () {
            location.href = '/'
        })
        .on('error', function (reason) {
            setTimeout(reconnect, 500);
        });

    function sendMessage(){
        var text = input.val();
        socket.emit('message', text, function () {
            printMessage('me: ' + text);
        });

        input.val('');
        return false;
    }

    function printMessage(message){
        $('<li>', {text: message}).appendTo(ul);
    }

    function reconnect(){
        console.log('reconnecting')
        socket.once('error', function () {
            setTimeout(reconnect, 500);
        });
        socket.socket.reconnect();
    }

    function printStatus(status){
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }
</script>